
.auth-wrapper {
    width: 20cm;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
  }
  
  
  .auth-inner {
    width: 100%; 
  }
  
  
  .auth-inner input,
  .auth-inner button {
    width: 100%;
    margin-bottom: 10px; 
  }
  
  
  .forgot-password {
    text-align: right;
  }
  